.ipynb_checkpoints/
rag.py
docs/~$assical_models.docx
docs/~$atistics.docx
docs/~$ep Learning.docx
docs/~$ftware.docx
docs/~$LLM.docx
docs/~$NLP.docx
docs/~WRL3959.tmp
.idea/
*.tmp
*.index
pgadmin-data
*.pyc
.env
